@model DevIO.App.ViewModels.FornecedorViewModel



@{
    ViewData["Title"] = "Endereço Fornecedor";
}

<p>

</p>

<div class="container-fluid">

    <div class="row">
        <div class="col-xl-6">
            <div class="card">
                <div class="card-body">

                    <h4 class="header-title">Endereço Fornecedor</h4>

                    <div class="tab-content">
                        <div class="tab-pane show active" id="striped-rows-preview">
                            <div class="table-responsive-sm">
                                <table class="table table-striped table-centered mb-0">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Endereco.Logradouro)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Endereco.Numero)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Endereco.Complemento)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Endereco.Bairro)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Endereco.Cep)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Endereco.Cidade)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Endereco.Estado)
                                            </th>
                                            <th>Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr>
                                            <td>
                                                @Html.DisplayFor(model => model.Endereco.Logradouro)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => model.Endereco.Numero)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => model.Endereco.Complemento)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => model.Endereco.Bairro)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => model.Endereco.Cep)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => model.Endereco.Cidade)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => model.Endereco.Estado)
                                            </td>
                                            <td class="table-action">
                                              <a asp-action="AtualizarEndereco" asp-route-id="@Model.Id" class="btn btn-warning" data-modal="" 
                                                 data-toggle="tooltip" data-placement="top" title="Editar"><i class="mdi mdi-pencil"></i> </a>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div> <!-- end table-responsive-->
                        </div> <!-- end preview-->

                    </div> <!-- end tab-content-->

                </div> <!-- end card body-->
            </div> <!-- end card -->
        </div><!-- end col-->
    </div>

</div>
<!-- end row-->



